.blog-filter {
	menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		width: 100%;
		overflow: auto;
		gap: var(--spacer-base);
	}

	li {
		flex-shrink: 0;
	}

	a {
		font-size: var(--font-size-lead);
		color: var(--color-black);
		text-decoration: none;

		&:hover, &:focus {
			 color: var(--color-blue-500);
		}
	}
}

.blog-posts {

}

.blog-post {

}

.blog-card {
	

	&__image-wrap {
		aspect-ratio: 554/317;

		img {
			object-fit: cover;
		}
	}

	figcaption h3 a:not([class^="button"]) {
		color: var(--color-blue-500);
	}
}