@import "dev/scss/core/mixins/media";

.product-slider {
	--slides-visible: 4;

	@include media-breakpoint-down(lg) {
		--slides-visible: 3;
	}

	@include media-breakpoint-down(md) {
		--slides-visible: 2;
	}

	@include media-breakpoint-down(sm) {
		--slides-visible: 1;
	}

	display: block;
	position: relative;
	overflow: hidden;

	&__inner {
		overflow: hidden;
		pointer-events: fill;
	}

	&__product-area {
		--gap-size: var(--spacer-md);

		display: flex;
		flex-wrap: nowrap;
		position: relative;
		box-sizing: content-box;
		gap: var(--gap-size);

		padding-bottom: 17px;
		&:focus-within {
			.product-card.visible {

				&:not(:focus) {
					opacity: .3;
				}
			}
		}
		
		&::after {
			content: "";
			display: block;
			position: relative;
			height: 1px;
			min-width: 10rem;
			background: transparent;
			top: 0;
			right: 0;
		}

		@include media-breakpoint-down(lg) {
			max-width: none !important;
			width: min(calc(100vw - 12rem), 100%);
			margin-inline: auto;
		}

		@include media-breakpoint-down(sm) {
			--gap-size: 0;
		}

		.product-card {
			width: calc((100% - (var(--gap-size) * (var(--slides-visible) - 1))) / var(--slides-visible));
			flex-shrink: 0;
			transition: opacity 240ms ease, transform 240ms ease;
			pointer-events: none;
			opacity: 0;
			transform: translateX(calc((-100% * var(--current-index)) - (var(--gap-size) * var(--current-index))));

			&__link {
				display: contents;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				transform: translateX(calc((-100% * var(--current-index))));
			}

			&.visible,
			&:focus {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background: none;
		border-radius: 50%;
		background: var(--color-white);
		filter: drop-shadow(0px 0.7471592426300049px 2.2138051986694336px rgba(97, 97, 97, 0.02)) drop-shadow(0px 1.7955275774002075px 5.32008171081543px rgba(97, 97, 97, 0.03)) drop-shadow(0px 3.380819082260132px 10.017241477966309px rgba(97, 97, 97, 0.04)) drop-shadow(0px 6.030803203582764px 17.869047164916992px rgba(97, 97, 97, 0.04)) drop-shadow(0px 11.27995491027832px 33.422088623046875px rgba(97, 97, 97, 0.05)) drop-shadow(0px 27px 80px rgba(97, 97, 97, 0.07));
		aspect-ratio: 1/1;
		width: to_rem(40);
		height: to_rem(40);
		pointer-events: all;
		padding: .25rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;

		svg {
			pointer-events: none;
		}

		path {
			stroke: var(--color-blue-500);
			transition: all 120ms ease;
		}

		&[data-direction="prev"] {
			left: 2rem;
		}

		&[data-direction="next"] {
			right: 2rem;
		}

		&[disabled] {
			background: var(--color-porcelain-400) !important;
			cursor: not-allowed;
			path {
				stroke: var(--color-charcoal-300);
			}
		}

		&:not([disabled]) {
			&:hover, &:focus {
				background: var(--color-blue-500);
	
				path {
					stroke: var(--color-white);
				}
			}
		}
	}

	&.no-overflow {
		button {
			display: none;
		}
	}
}
