.sponsor-grid {
	img {
		width: to_rem(160);
		object-fit: contain;
		object-position: center center;
	}
	
	// &__item {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }
}