@import 'blaze-slider/dist/blaze.css';

.post-slider {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
    }
}

.post-card {
    display: block;
    max-width: 100%;
    text-decoration: none;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    figcaption {
        font-weight: bold;
        line-height: 1.2;
        padding-inline: 1rem;
        padding-block: 0.5rem;
    }
}
