<div class="container p-block-xl text-center">
  <h1 class="h4 display-sm">404 Page Not Found.</h1>
  <h2 class="h3 m-bottom-md text-light">The page you requested does not exist or has been moved.
  </h2>
  <div class="flex justify-content-center align-items-center" style="--gap: var(--spacer-base);">
    <a class="button--yellow" href="/">Return Home</a>
    <a href="/collections/all" class="button--yellow">Continue Shopping</a>
  </div>
</div>

{% schema %}
  {
    "name": "404",
    "tag": "section"
  }
{% endschema %}