{% liquid
%}

{{ "accordion.css" | asset_url | stylesheet_tag }}

<div class="grid p-block-xxl" style="--column-count: 1; --md-column-count: 3; --gap: var(--spacer-base); --md-gap: 4rem;">
  <div style="--column-span: 1;">
    <h2 class="display-md m-bottom-base color-blue-500">{{ section.settings.section_heading }}</h2>
    {{ section.settings.section_info }}
  </div>
  <div class="accordion-group" style="--column-span: 2;">
    {% for block in section.blocks %}
      {% assign q = block.settings %}
      {% render "accordion-item"		
        , title: q.question 	
        , content: q.answer %}
    {% endfor %}
  </div>
</div>

<script src="{{ "accordion-group.js" | asset_url }}" defer></script>

{% schema %}
  {
    "name": "FAQ",
    "class": "faq-group container",
    "tag": "section",
    "settings": [
      {
        "id": "section_heading",
        "label": "Heading",
        "type": "text",
        "default": "Frequently Asked Questions"
      }, {
        "id": "section_info",
        "label": "Info",
        "type": "richtext",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>"
      }
    ],
    "blocks": [
      {
        "name": "Frequently Asked Question",
        "type": "asked-question",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}