{% liquid
%}

<div class="reset-password__inner container m-block-lg">
  <h1 class="display-md m-bottom-md">Reset Password</h1>
  <div class="reset__form">
    {%- form 'reset_customer_password' -%}
      {{ form.errors | default_errors }}

      <div>
		<label class="password">
        <input
          type="password"
          name="customer[password]"
          id="password"
		  placeholder=""
		  class="p-inline-base p-block-sm">
        <span>Password</label>
      </label>
	  </div>

      <div class="m-top-base">
		<label class="password_confirm">
			<input
			type="password"
			name="customer[password_confirmation]"
			id="password_confirmation"
			placeholder=""
			class="p-inline-base p-block-sm">
			<span>Confirm Password</span>
		</label>
	  </div>

      <button class="button--yellow m-top-base">Submit & Reset Password</button>
    {%- endform -%}
  </div>
</div>

{% schema %}
  {
    "name": "Reset",
    "tag": "section",
    "class": "reset-password"
  }
{% endschema %}