{% liquid
%}

<div
  class="storefront-password__inner flex flex-column align-items-center p-xl"
  style="--gap: spacer-lg;"
  class="container">
  {% form 'storefront_password' %}
    <h1 class="m-bottom-md">Please log in</h1>
    {{ form.errors | default_errors }}
    <label class="display-block m-bottom-base">
      <input
        type="password"
        name="password"
        class="p-sm"
        placeholder=" ">
      <span>Password</span>
    </label>
    <div class="submit">
      <button class="button--yellow">Submit</button>
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Storefront Password",
    "tag": "section",
    "class": "store-password container"
  }
{% endschema %}