<div class="dashed-separator container flex justify-items-center {{ classes }}">
  <svg
    width="1440"
    height="2"
    viewBox="0 0 1170 2"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 1L1169 1.0001"
      stroke="#B7BABF"
      stroke-width="2"
      stroke-linecap="round"
      stroke-dasharray="12 12" />
  </svg>
</div>