{% comment %} display a checkmark svg with an accessible title tag {% endcomment %}
{% liquid
	if feature != blank
		assign title = feature | append: " included" 
	else
		assign title = "Feature is included"
	endif
%}

<span class="feature-check">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <title>{{ title }}</title>
    <path
      d="M20 6L9 17L4 12"
      stroke="#231F20"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</span>