{% liquid
    assign selected_handles = 'footer-submenu' | split: ', '
%}

<section class="footer__subnav d-flex justify-content-between flex-wrap">
    {% for list in linklists %}
        {% if selected_handles contains list.handle %}
            <nav>
                <ul class="list-unstyled d-flex">
                    {% for link in list.links %}
                        <li class="p-top-tiny">
                            <a href="{{ link.url }}" class="link {% if link.url == request.path %}active{% endif %}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    {% endfor %}
</section>