{% liquid
%}

<figure class="info-card d-flex flex-column align-items-center m-bottom-md m-inline-auto">
  <img
    src="{{ img | image_url: width: 200 }}"
    alt="{{ heading }}"
    width="200"
    height="200"
    loading="lazy">
  <figcaption class="m-top-base">
    <p class="text-bold font-size-h3">{{ heading }}</p>
    <p class="lead">{{ content }}</p>
  </figcaption>
</figure>