label {
	position: relative;

	input {
		border-radius: var(--border-radius-md);
		border: 1px solid var(--color-porcelain-500);
		background: var(--color-white);
	}

	input + span {
		position: absolute;
		left: var(--spacer-sm);
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		z-index: 99;
	}

	input:focus, input:not(:placeholder-shown) {
		& + span {
			visibility: hidden;
		}
	}
}